.aurora-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; /* Pastikan layer paling bawah */
  pointer-events: none; /* Supaya klik tembus ke bawah */
}