@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a; /* Warna gelap ala video */
  color: white;
}
#root {
  width: 100%;
  height: 100%;
}